<template>
    <div class=" contact mb-16">
  <footer class="text-gray-600 body-font bg-gray-700">
    <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-white p-2 bg-red-700 rounded-full" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z" />
          </svg>
          <span class="ml-3 text-xl text-white">Sébastien Rapuzzi</span>
        </a>
        <p class="mt-2 text-sm text-white">Développeur web RNCP5</p>
      </div>
      <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-bold text-white tracking-widest text-md mb-3">Adresse</h2>
          <address class="d-flex flex-column">
      <!-- Map -->
      <p class="typo text-white">
        <a
          href="https://goo.gl/maps/fRaqms9x8zNsU5am9"
          title="localiser"
          target="_blank"
          ><br />118 allée de la Grande Bastide Cazaulx<br />13012 Marseille,
          FRANCE</a
        >
      </p>
      </address>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-bold text-white tracking-widest text-md mb-3">Téléphone</h2>
          <p class="typo text-white">
        <a href="tel:+33626705813" title="Téléphoner"
          ><br />&nbsp;+33 (0) 626 705 813</a
        >
      </p>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-bold text-white tracking-widest text-md mb-3">Mail</h2>
          <p class="typo text-white">
        <a
          href="mailto:bastien.rapuzzi@gmail.com?subject=the&nbsp;subject&cc=cc@example.com&body=Main&nbsp;text&nbsp;of&nbsp;the&nbsp;mail"
          title="Contacter"
          >
          <div class="flex items-center justify-center">
  <div class="m-3">
    <button class="bg-white text-gray-800 font-bold rounded border-b-2 border-yellow-500 hover:border-yellow-600 hover:bg-yellow-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center">
      <span class="mr-2">Send</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="currentcolor" d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"></path>
      </svg>
    </button>
  </div>
          </div>
  </a
        >
      </p>
        </div>
      </div>
    </div>
    <div class="bg-gray-900">
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p class="text-white text-sm text-center sm:text-left">© 2021 Dev —
          <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-gray-400 ml-1" target="_blank">@Bastien-OC20</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
          <a class="ml-3 text-gray-200">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-200">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </div>
  </footer>
</div>
</template>

<script>




export default {
  name: "Contact",


  components: {
    
  },

  mounted() {
   
  },

  computed: {
    
  }
};

</script>

<style>
.contact{
    margin-bottom: 0; 
}

@media (max-width: 575.98px) {}



@media (min-width: 768px) and (max-width: 991.98px) {}


@media (min-width: 992px) and (max-width: 1199.98px) {
}



@media (min-width: 1200px) {}


</style>
