<template>
  <section class="forme">
    <ImgIntro />
    <!-- <h1 class="forme_titre font-semibold">
      Sébastien <i class="forme_titre-decallage">Rapuzzi</i>
    </h1>
    <h2 class="forme_Soustitre  font-semibold">
      Développeur <i class="forme_Soustitre-decallage">Web</i>
    </h2> -->
    <!-- <div class="">
    <img src="../static/img/intro.svg" title="Logo" alt="logo du site" class="img">
    </div> -->
    
  </section>
</template>

<script>
import ImgIntro from "@/components/img/ImgIntro.vue";

export default {
  name: "Intro",
  components: {
    ImgIntro
  },
  data() {
    return {};
  },
  mounted() {}
};
</script>

<style scoped>

.forme_titre {
  font-size: 1.2em;
  position: relative;
  top: 9em;
  left: 6em;
  color: white;
  width : 70%;
  margin: 0;
}

.forme_Soustitre {
  font-size: 1em;
  position: relative;
  top: 13em;
  left: 6em;
  width: 70%;
}

.forme_titre-decallage {
  color: black;
  margin-left: 4em;
}
.forme_Soustitre-decallage {
  color: white;
  margin-left: 1.5em;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {

    
.forme_titre {
  font-size: 2em;
  position: relative;
  top:10em;
  left: 8em;
  width : 70%;
  margin: 0;
}

.forme_Soustitre {
  font-size: 1.51em;
  position: relative;
  top: 17em;
  left: 10em;
  width: 70%;
}
}

@media (min-width: 1024px) {
    .forme_titre {
  font-size: 2.5em;
  position: relative;
  top:10em;
  left: 8em;
  width : 70%;
  margin: 0;
}

.forme_Soustitre {
  font-size: 2em;
  position: relative;
  top: 17em;
  left: 11em;
  width: 70%;
}

.forme_titre-decallage {
    margin-left: 16vh;
  }
  .forme_Soustitre-decallage {
    margin-left: 3vh;
  }

}
  @media (min-width: 1280px) { 
  .forme {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .forme_titre {
      font-size: 3em;
    z-index: 1;
    position: relative;
    top: 50vh;
    left:42vh;
  }

  .forme_Soustitre {
      font-size: 2.2em;
    z-index: 1;
    position: relative;
    top: 66vh;
    left: 44vh;
  }

  .forme_titre-decallage {
    margin-left: 18vh;
  }
  .forme_Soustitre-decallage {
    margin-left: 3vh;
  }
}
</style>
