<template>
<article class="projets">
    <h2 class="projets_titre text-3xl">{{ titreProjets }}</h2>
    <section
      v-for="projet in projets"
      :key="projet.id"
      id="projets"
      class="projets_detail"
    >


      <!-- component 1 -->
<div class="cards max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
  <div class="flex justify-center md:justify-end -mt-16">
    <img class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500" src="../static/bg/bg-w1.svg">
  </div>
  <div>
    <h2 class="text-gray-800 text-3xl font-semibold">{{ projet.projet1.titre }}</h2>
    <p class="mt-2 text-gray-600">{{ projet.projet1.detail }}</p>
  </div>
  <div class="flex justify-end mt-4">
    <a href="#" class="text-xl font-medium text-indigo-500">Git : Bastien-OC20</a>
  </div>
</div>
     <!-- component 2 -->
<div class="cards max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
  <div class="flex justify-center md:justify-end -mt-16">
    <img class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500" src="../static/bg/bg-w2.svg">
  </div>
  <div>
    <h2 class="text-gray-800 text-3xl font-semibold">{{ projet.projet2.titre }}</h2>
    <p class="mt-2 text-gray-600">{{ projet.projet2.detail }}</p>
  </div>
  <div class="flex justify-end mt-4">
    <a href="#" class="text-xl font-medium text-indigo-500">Git : Bastien-OC20</a>
  </div>
</div>
     <!-- component 3 -->
<div class="cards max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
  <div class="flex justify-center md:justify-end -mt-16">
    <img class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500" src="../static/bg/bg-w3.svg">
  </div>
  <div>
    <h2 class="text-gray-800 text-3xl font-semibold">{{ projet.projet3.titre }}</h2>
    <p class="mt-2 text-gray-600">{{ projet.projet3.detail }}</p>
  </div>
  <div class="flex justify-end mt-4">
    <a href="#" class="text-xl font-medium text-indigo-500">Git : Bastien-OC20</a>
  </div>
</div>
     <!-- component 4 -->
<div class="cards max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
  <div class="flex justify-center md:justify-end -mt-16">
    <img class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500" src="../static/bg/bg-w4.svg">
  </div>
  <div>
    <h2 class="text-gray-800 text-3xl font-semibold">{{ projet.projet4.titre }}</h2>
    <p class="mt-2 text-gray-600">{{ projet.projet4.detail }}</p>
  </div>
  <div class="flex justify-end mt-4">
    <a href="#" class="text-xl font-medium text-indigo-500">Git : Bastien-OC20</a>
  </div>
</div>
     <!-- component 5 -->
<div class="cards max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
  <div class="flex justify-center md:justify-end -mt-16">
    <img class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500" src="../static/bg/bg-w5.svg">
  </div>
  <div>
    <h2 class="text-gray-800 text-3xl font-semibold">{{ projet.projet5.titre }}</h2>
    <p class="mt-2 text-gray-600">{{ projet.projet5.detail }}</p>
  </div>
  <div class="flex justify-end mt-4">
    <a href="#" class="text-xl font-medium text-indigo-500">Git : Bastien-OC20</a>
  </div>
</div>
     <!-- component 6 -->
<div class="cards max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
  <div class="flex justify-center md:justify-end -mt-16">
    <img class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500" src="../static/bg/bg-w6.svg">
  </div>
  <div>
    <h2 class="text-gray-800 text-3xl font-semibold">{{ projet.projet6.titre }}</h2>
    <p class="mt-2 text-gray-600">{{ projet.projet6.detail }}</p>
  </div>
  <div class="flex justify-end mt-4">
    <a href="#" class="text-xl font-medium text-indigo-500">Git : Bastien-OC20</a>
  </div>
</div>
     <!-- component 7 -->
<div class="cards max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
  <div class="flex justify-center md:justify-end -mt-16">
    <img class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500" src="">
  </div>
  <div>
    <h2 class="text-gray-800 text-3xl font-semibold">{{ projet.projet7.titre }}</h2>
    <p class="mt-2 text-gray-600">{{ projet.projet7.detail }}</p>
  </div>
  <div class="flex justify-end mt-4">
    <a href="#" class="text-xl font-medium text-indigo-500">Git : Bastien-OC20</a>
  </div>
</div>
    </section>
  </article>

</template>

<script>

export default {

  name:"Projets",
  data() {
    return {
       titreProjets: "My Projects",

      projets: [
        {
          projet1:{ 
              titre : "Projet 1",
              detail : "Transformer une maquette en site web",
              imgUrl : "bg-w1.svg"
              },
          projet2:{ 
              titre : "Projet 2", 
              detail : "Dynamiser une page web avec des animations CSS",
              imgUrl : "bg-w2.svg"
              },
          projet3: { 
              titre : "Projet 3",
              detail : "Optimiser un site web existant",
              imgUrl : "../static/bg/bg-w3.svg"
              },
          projet4: { 
              titre : "Projet 4",
              detail : "Construire un site e-commerce",
              imgUrl : "../static/bg/bg-w4.svg"
              },
          projet5:  { 
              titre : "Projet 5",
              detail : "Consrtuire une API sécurisée pour une application",
          imgUrl : "../static/bg/bg-w5.svg"
          },
          projet6: {
              titre : "Projet 6",
              detail :  "Créer un réseau social d'entreprise",
              imgUrl : "../static/bg/bg-w6.svg"
              },
              projet7: {
              titre : "Club d'escrime d'Aubagne",
              detail :  "Refonte du site du club",
              imgUrl : "../static/bg/bg-w7.svg"
              },
        }
      ],

    };
  },
}
</script>

<style>

.projets_detail {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    padding: 0.5em;
}

.cards {
    margin: 4em;
}

@media (min-width: 640px) { 
	
 }

 @media (min-width: 768px) { 

  }

  @media (min-width: 1024px) { 

  }
  @media (min-width: 1280px) { 
.projets{
    display: flex;
    margin-top: 5em;
    justify-content: center;
}


.projets_detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cards {
    margin: 4em;
}

   }
</style>
