<template>
  <article class="skill ">
    <h2 class="skill_titre text-3xl ">{{ titreSkills }}</h2>

<div class="tabs"> 
 
  <input type="radio" name="tabs" id="tabone" checked="checked">
  <label for="tabone">Front-end</label>
  <div class="tab">
    <ul class="flex flex-row">
					<li><img
                    src="../static/icon/html5.svg"
                    class="iconSkill"
                    alt="HTML5"
                    title="HTML5"
                    arial-label="Logo HTML5"
                  /></li>
					<li><img
                    src="../static/icon/css3.svg"
                    class="iconSkill"
                    alt="CSS3"
                    title="CSS3"
                    arial-label="Logo CSS3"
                  /></li>
					<li><img
                    src="../static/icon/bootstrap5.svg"
                    class="iconSkill"
                    alt="Bootstrap"
                    title="Bootstrap"
                    arial-label="Logo Bootstrap"
                  /></li>
					<li><img
                    src="../static/icon/javascript.svg"
                    class="iconSkill"
                    alt="JavaScript"
                    title="JavaScript"
                    arial-label="Logo JavaScript"
                  /></li>
					<li><img
                    src="../static/icon/vue.svg"
                    class="iconSkill"
                    alt="VueJS"
                    title="VueJS"
                    arial-label="Logo VueJS"
                  /></li>
				</ul>
  </div>
  
  <input type="radio" name="tabs" id="tabtwo">
  <label for="tabtwo">Back-end</label>
  <div class="tab">
    <ul class="flex flex-row">
					<li>
                        <img
                    src="../static/icon/nodejs.svg"
                    class="iconSkill"
                    alt="NodeJs"
                    title="NodeJs"
                    arial-label="Logo NodeJs"
                  />
                  </li>
					<li>
                        <img
                    src="../static/icon/Expressjs.svg"
                    class="iconSkill"
                    alt="ExpressJs"
                    title="ExpressJS"
                    arial-label="Logo ExpressJs"
                  />
                  </li>
					<li>
                        <img
                    src="../static/icon/rest.png"
                    class="iconSkill"
                    alt="Rest API"
                    title="Rest API"
                    arial-label="Logo Rest API"
                  />
                  </li>
					<li>
                        <img
                    src="../static/icon/mongodb.svg"
                    class="iconSkill"
                    alt="MongoDB"
                    title="MongoDB"
                    arial-label="Logo MongoDB"
                  />
                  </li>
					<li>
                        <img
                    src="../static/icon/mysql.svg"
                    class="iconSkill"
                    alt="MySQL"
                    title="MySQL"
                    arial-label="Logo MySQL"
                  />
                  </li>
				</ul>
  </div>
  
  <input type="radio" name="tabs" id="tabthree">
  <label for="tabthree">Versioning</label>
  <div class="tab">
    <ul class="flex flex-row">
					<li>
                        <img
                    src="../static/icon/vsc.svg"
                    class="iconSkill"
                    alt="Visual Studio Code"
                    title="Visual Studio Code"
                    arial-label="Logo Visual Studio Code"
                  />
                  </li>
					<li>
                        <img
                    src="../static/icon/git.svg"
                    class="iconSkill"
                    alt="Git"
                    title="Git"
                    arial-label="Logo Git"
                  />
                  </li>
					<li>
                        <img
                    src="../static/icon/github.svg"
                    class="iconSkill"
                    alt="GitHub"
                    title="GitHub"
                    arial-label="Logo GitHub"
                  />
                  </li>
					<li>
                        <img
                    src="../static/icon/gitlab.svg"
                    class="iconSkill"
                    alt="GitLab"
                    title="GitLab"
                    arial-label="Logo GitLab"
                  />
                  </li>
					<li>
                        <img
                    src="../static/icon/npm.svg"
                    class="iconSkill"
                    alt="npm"
                    title="npm"
                    arial-label="Logo npm"
                  />
                  </li>
				</ul>
  </div>


<input type="radio" name="tabs" id="tabfour">
  <label for="tabfour">Design</label>
  <div class="tab">
    <ul class="flex flex-row">
					<li>
                        <img
                    src="../static/icon/axe.svg"
                    class="iconSkill"
                    alt="Axe DevTools"
                    title="Axe DevTools"
                    arial-label="Logo Axe DevTools"
                  />
                  </li>
					<li>
                        <img
                    src="../static/icon/material.svg"
                    class="iconSkill"
                    alt="Material UI"
                    title="Material UI"
                    arial-label="Logo Material UI"
                  />
                  </li>
					<li>
                        <img
                    src="../static/icon/photoshop.svg"
                    class="iconSkill"
                    alt="Photoshop"
                    title="Photoshop"
                    arial-label="Logo Photoshop"
                  />
                  </li>
					<li>
                        <img
                    src="../static/icon/aftereffects.svg"
                    class="iconSkill"
                    alt="After-effects"
                    title="After-effects"
                    arial-label="Logo After-effects"
                  />
                  </li>
					<li>
                        <img
                    src="../static/icon/premiere.svg"
                    class="iconSkill"
                    alt="Première"
                    title="Première"
                    arial-label="Logo Première"
                  />
                  </li>
				</ul>
  </div>
  </div>
</article>

</template>

<script>
export default {
  name: "Skill",
  components: {},
  data() {
    return {
      titreSkills: "Skills",
    };
  },

  mounted() {

}

};


</script>

<style lang="scss">

.tabs {
	display: flex;
	flex-wrap: wrap;
  margin: auto;
    width:90%;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #4f4e4ea2; 
    justify-content: center;
}

.tabs label {
	order: 1;
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
	background: #3C61AA;
    border-radius: 5px;
	font-weight: bold;
	transition: background ease 0.2s;
  
}
.tabs .tab {
	order: 99; 
	flex-grow: 1;
	width: 50%;
	display: none;
	padding: 1rem;
	background: #fff;
}

.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
    box-shadow: 10px 5px 5px #4f4e4ea2;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
    margin-top: 2em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}



@media (max-width: 45em) {
	.tabs .tab,
	.tabs label {
		order: initial;
	}
	.tabs label {
		width: 100%;
		margin-right: 0;
		margin-top: 0.2rem;
	}
}

 .iconSkill {
    width: 36px;
  }
@media (min-width: 640px) { 
	
 }

 @media (min-width: 768px) { 



 .iconSkill {
    width: 64px;
  }

  }

  @media (min-width: 1024px) { 

}
  @media (min-width: 1280px) { 

.skill{
    margin-top: 5em;
}


/**
 * Tabs
 */
.tabs {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
  margin: auto;
    width:40%;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #4f4e4ea2; 
}
.tabs label {
	order: 1;
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
	background: #3C61AA;
    border-radius: 5px;
	font-weight: bold;
	transition: background ease 0.2s;
}
.tabs .tab {
	order: 99; 
	flex-grow: 1;
	width: 100%;
	display: none;
	padding: 1rem;
	background: #fff;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
    box-shadow: 10px 5px 5px #4f4e4ea2;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
    margin-top: 2em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

@media (max-width: 45em) {
	.tabs .tab,
	.tabs label {
		order: initial;
	}
	.tabs label {
		width: 100%;
		margin-right: 0;
		margin-top: 0.2rem;
	}
}



  .iconSkill {
    width: 48px;

  }

    .iconSkill:hover {
    transform : scale(1.2) 3s ease-in-out;
  }
   }
</style>
