<template>
<article class="path">
 <h2 class="path_titre text-3xl ">{{ titrePath }}</h2>
  <!-- component -->
<div class="container">
   
          <div
            class="flex flex-col md:grid grid-cols-10 mx-auto p-2 text-blue-50"
          >
            <!-- left -->
            <div class="flex flex-row-reverse md:contents">
              <div
                class="bg-red-800 col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto shadow-md"
              >
                <h3 class="font-semibold text-lg mb-1">?</h3>
                <p class="leading-tight text-justify">
                  2021
                </p>
              </div>
              <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
                <div class="h-full w-6 flex items-center justify-center">
                  <div class="h-full w-1 bg-yellow-400 pointer-events-none"></div>
                </div>
                <div
                  class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-gray-700 shadow"
                ></div>
              </div>
            </div>
            <!-- right -->
            <div class="flex md:contents">
              <div class="col-start-5 col-end-6 mr-10 md:mx-auto relative">
                <div class="h-full w-6 flex items-center justify-center">
                  <div class="h-full w-1 bg-yellow-400 pointer-events-none"></div>
                </div>
                <div
                  class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-gray-700 shadow"
                ></div>
              </div>
              <div
                class="bg-blue-800 col-start-6 col-end-10 p-4 rounded-xl my-4 mr-auto shadow-md"
              >
                <h3 class="font-semibold text-lg mb-1">AWS re/Start</h3>
                <p class="leading-tight text-justify">
                  2021 <br> Marseille
                </p>
              </div>
            </div>
            <!-- right -->
            <div class="flex md:contents">
              <div class="col-start-5 col-end-6 mr-10 md:mx-auto relative">
                <div class="h-full w-6 flex items-center justify-center">
                  <div class="h-full w-1 bg-yellow-400 pointer-events-none"></div>
                </div>
                <div
                  class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-gray-700 shadow"
                ></div>
              </div>
              <div
                class="bg-blue-800 col-start-6 col-end-10 p-4 rounded-xl my-4 mr-auto shadow-md"
              >
                <h3 class="font-semibold text-lg mb-1">Diplôme RNCP de niveau 5 (Bac +2) Développeur web</h3>
                <p class="leading-tight text-justify">
                  2020 - 2021 <br> Openclassroom
                </p>
              </div>
            </div>
            <!-- left -->
            <div class="flex flex-row-reverse md:contents">
              <div
                class="bg-red-800 col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto shadow-md"
              >
                <h3 class="font-semibold text-lg mb-1">Webmaster / CM -Technicien Informatique</h3>
                <p class="leading-tight text-justify">
                  2019 <br> Châteauneuf-les-Martigues - La mède 
                </p>
              </div>
              <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
                <div class="h-full w-6 flex items-center justify-center">
                  <div class="h-full w-1 bg-yellow-400 pointer-events-none"></div>
                </div>
                <div
                  class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-gray-700 shadow"
                ></div>
              </div>
            </div>
            <!-- left -->
            <div class="flex flex-row-reverse md:contents">
              <div
                class="bg-red-800 col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto shadow-md"
              >
                <h3 class="font-semibold text-lg mb-1">Webmaster / CM - Technicien Informatique</h3>
                <p class="leading-tight text-justify">
                  2015 - 2019 <br> Ville d'Aubagne
                </p>
              </div>
              <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
                <div class="h-full w-6 flex items-center justify-center">
                  <div class="h-full w-1 bg-yellow-400 pointer-events-none"></div>
                </div>
                <div
                  class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-gray-700 shadow"
                ></div>
              </div>
            </div>
            <!-- right -->
            <div class="flex md:contents">
              <div class="col-start-5 col-end-6 mr-10 md:mx-auto relative">
                <div class="h-full w-6 flex items-center justify-center">
                  <div class="h-full w-1 bg-yellow-400 pointer-events-none"></div>
                </div>
                <div
                  class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-gray-700 shadow"
                ></div>
              </div>
              <div
                class="bg-blue-800 col-start-6 col-end-10 p-4 rounded-xl my-4 mr-auto shadow-md"
              >
                <h3 class="font-semibold text-lg mb-1">Gestion réseaux et programmation</h3>
                <p class="leading-tight text-justify">
                  2014 - 2015 <br> Aix-en-Provence
                </p>
              </div>
            </div>
            <!-- left -->
            <div class="flex flex-row-reverse md:contents">
              <div
                class="bg-red-800 col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto shadow-md"
              >
                <h3 class="font-semibold text-lg mb-1">Éducateur spécialisé</h3>
                <p class="leading-tight text-justify">
                  2003 - 2014 <br> Marseille
                </p>
              </div>
              <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
                <div class="h-full w-6 flex items-center justify-center">
                  <div class="h-full w-1 bg-yellow-400 pointer-events-none"></div>
                </div>
                <div
                  class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-gray-700 shadow"
                ></div>
              </div>
            </div>
            <!-- right -->
            <div class="flex md:contents">
              <div class="col-start-5 col-end-6 mr-10 md:mx-auto relative">
                <div class="h-full w-6 flex items-center justify-center">
                  <div class="h-full w-1 bg-yellow-400 pointer-events-none"></div>
                </div>
                <div
                  class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-gray-700 shadow"
                ></div>
              </div>
              <div
                class="bg-blue-800 col-start-6 col-end-10 p-4 rounded-xl my-4 mr-auto shadow-md"
              >
                <h3 class="font-semibold text-lg mb-1">Educateur Spécialisé</h3>
                <p class="leading-tight text-justify">
                  2000 - 2003 <br> Marseille
                </p>
              </div>
            </div>
          </div>
        </div>
  </article>
</template>

<script>

export default {
name: "Student",
  components: {},
  data() {
    return {
      titrePath: "PathWay",
    };
  },

  mounted() {

}

}
</script>

<style>
@media (min-width: 640px) { 
	
 }

 @media (min-width: 768px) { 

  }

  @media (min-width: 1024px) { 

.path{
    display: flex;
    margin-top: 5em;
    justify-content: center;
}
.path_titre{
  display: flex; 
  flex-direction : row;
  justify-content: left;
}


   }
</style>
