<template>
  <section class="index">
    <header><Intro /></header>
    <main class="main">
      <section class="rubrique">
        <Skill />
      </section>

      <section class="rubrique">
        <Projets />
      </section>

      <section class="rubrique">
        <Student />
      </section>

      <section class="rubrique">
        <Contact/>
      </section>
    </main>
  </section>
</template>

<script>
import Projets from "../components/Projets.vue";
import Student from "../components/Student.vue";
import Skill from "../components/Skill.vue";
import Intro from "../components/Intro.vue";
import Contact from "../components/Contact.vue";

export default {
  name: "index",
  components: {
    Projets,
    Student,
    Skill,
    Intro,
    Contact,
  },
  data() {
    return {};
  },

  mounted() {}
};
</script>

<style>



.rubrique {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) { 
  
  .index{
    padding: 0;
    margin: 0;
  }

  .main {
    padding-top: 1em;
  }




  .rubrique {
    margin-top: 5em;
    margin-bottom: 5em;
  }
}
</style>
